<a href="https://colab.research.google.com/github/Misharosejoseph/DATA-SCIENCE-TASK/blob/main/Data_science_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3
import pandas as pd

LOAD ORDER DATASET

In [5]:
orders = pd.read_csv('olist_orders_dataset.csv')
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
orders.shape

(99441, 8)

In [7]:
orders['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [8]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

CREATE SQLITE CONNECTION & SAVE TABLE

In [9]:
conn = sqlite3.connect('olist.db')

orders.to_sql(
    'olist_orders_dataset',
    conn,
    if_exists='replace',
    index=False
)

99441

In [10]:
pd.read_sql(
    'SELECT COUNT(*) AS total_orders FROM olist_orders_dataset',
    conn
)

   total_orders
0         99441

LOAD CUSTOMERS DATASET

In [11]:
customers = pd.read_csv('olist_customers_dataset.csv')
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [12]:
customers.shape

(99441, 5)

In [13]:
customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [14]:
customers.to_sql(
    'olist_customers_dataset',
    conn,
    if_exists='replace',
    index=False
)

99441

In [15]:
pd.read_sql(
    'SELECT COUNT(*) AS total_customers FROM olist_customers_dataset',
    conn
)

   total_customers
0            99441

LOAD ORDER ITEMS DATASET

In [16]:
order_items = pd.read_csv('olist_order_items_dataset.csv')
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [17]:
order_items.shape

(112650, 7)

In [18]:
order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [19]:
order_items.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [20]:
order_items.to_sql(
    'olist_order_items_dataset',
    conn,
    if_exists='replace',
    index=False
)

112650

In [21]:
pd.read_sql(
    'SELECT COUNT(*) AS total_order_items FROM olist_order_items_dataset',
    conn
)

   total_order_items
0             112650

LOAD PAYMENTS DATASET

In [22]:
payments = pd.read_csv('olist_order_payments_dataset.csv')
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [23]:
payments.shape

(103886, 5)

In [24]:
payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [25]:
payments.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [26]:
payments.to_sql(
    'olist_payments_dataset',
    conn,
    if_exists='replace',
    index=False
)

103886

In [27]:
pd.read_sql(
    'SELECT COUNT(*) AS total_payments FROM olist_payments_dataset',
    conn
)

   total_payments
0          103886

Load PRODUCTS dataset

In [28]:
products = pd.read_csv('olist_products_dataset.csv')
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [29]:
products.shape

(32951, 9)

In [30]:
products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [31]:
products.to_sql(
    'olist_products_dataset',
    conn,
    if_exists='replace',
    index=False
)

32951

In [32]:
pd.read_sql(
    'SELECT COUNT(*) AS total_products FROM olist_products_dataset',
    conn
)

   total_products
0           32951

Load SELLERS dataset

In [33]:
sellers = pd.read_csv('olist_sellers_dataset.csv')
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [34]:
sellers.shape

(3095, 4)

In [35]:
sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [36]:
sellers.to_sql(
    'olist_sellers_dataset',
    conn,
    if_exists='replace',
    index=False
)

3095

In [37]:
pd.read_sql(
    'SELECT COUNT(*) AS total_sellers FROM olist_sellers_dataset',
    conn
)

   total_sellers
0           3095

LOAD ORDER REVIEWS DATASET

In [38]:
reviews = pd.read_csv('olist_order_reviews_dataset.csv')
reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [39]:
reviews.shape

(99224, 7)

In [40]:
reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [41]:
reviews.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [42]:
reviews.to_sql(
    'olist_order_reviews_dataset',
    conn,
    if_exists='replace',
    index=False
)

99224

In [43]:
pd.read_sql(
    'SELECT COUNT(*) AS total_reviews FROM olist_order_reviews_dataset',
    conn
)

   total_reviews
0          99224

SQL ANALYSIS

TASK 1: RFM CUSTOMER SEGMENTATION

In [44]:
rfm_base = pd.read_sql("""
SELECT
    c.customer_unique_id,
    MAX(o.order_delivered_customer_date) AS last_order_date,
    COUNT(DISTINCT o.order_id) AS frequency,
    SUM(p.payment_value) AS monetary
FROM olist_orders_dataset o
JOIN olist_customers_dataset c
    ON o.customer_id = c.customer_id
JOIN olist_payments_dataset p
    ON o.order_id = p.order_id
WHERE o.order_status = 'delivered'
GROUP BY c.customer_unique_id
""", conn)

rfm_base.head()

                 customer_unique_id      last_order_date  frequency  monetary
0  0000366f3b9a7992bf8c76cfdf3221e2  2018-05-16 20:48:37          1    141.90
1  0000b849f77a49e4a4ce2b2a4ca5be3f  2018-05-10 18:02:42          1     27.19
2  0000f46a3911fa3c0805444483337064  2017-04-05 14:38:47          1     86.22
3  0000f6ccb0745a6a4b88665a16c9f078  2017-11-01 21:23:05          1     43.62
4  0004aac84e0df4da2b147fca70cf8255  2017-11-27 23:08:56          1    196.89

In [45]:
rfm_base.shape

(93357, 4)

In [46]:
rfm_base.isnull().sum()

customer_unique_id    0
last_order_date       8
frequency             0
monetary              0
dtype: int64

CREATE R, F, M SCORES (NTILE)
Logic

Recency  latest date = higher score

Frequency  more orders = higher score

Monetary  more spend = higher score

In [47]:
rfm_scores = pd.read_sql("""
SELECT *,
    NTILE(5) OVER (ORDER BY last_order_date DESC) AS r_score,
    NTILE(5) OVER (ORDER BY frequency) AS f_score,
    NTILE(5) OVER (ORDER BY monetary) AS m_score
FROM (
    SELECT
        c.customer_unique_id,
        MAX(o.order_delivered_customer_date) AS last_order_date,
        COUNT(DISTINCT o.order_id) AS frequency,
        SUM(p.payment_value) AS monetary
    FROM olist_orders_dataset o
    JOIN olist_customers_dataset c
        ON o.customer_id = c.customer_id
    JOIN olist_payments_dataset p
        ON o.order_id = p.order_id
    WHERE o.order_status = 'delivered'
    GROUP BY c.customer_unique_id
) t
""", conn)

rfm_scores.head()

,customer_unique_id,last_order_date,frequency,monetary,r_score,f_score,m_score
0,fc0bcca3d8d90a812b707bb8e45069d6,2018-10-17 13:22:46,1,44.63,1,1,1
1,232422c2db1f7c69daf3b0f0421ebb43,2018-10-11 16:41:14,1,201.96,1,4,4
2,4bc530761c1b59d33d7c6cb640d3ee78,2018-10-02 00:18:50,1,101.36,1,3,3
3,3ae68a873484afec224de126a94c5974,2018-09-27 02:24:33,1,265.94,1,5,5
4,c9f2b70eaddf459267a9de373aaf743b,2018-09-25 00:47:25,1,65.35,1,2,2

CHECK SCORES

In [48]:
rfm_scores[['r_score','f_score','m_score']].describe()

            r_score       f_score       m_score
count  93357.000000  93357.000000  93357.000000
mean       2.999968      2.999968      2.999968
std        1.414225      1.414225      1.414225
min        1.000000      1.000000      1.000000
25%        2.000000      2.000000      2.000000
50%        3.000000      3.000000      3.000000
75%        4.000000      4.000000      4.000000
max        5.000000      5.000000      5.000000

CREATE CUSTOMER SEGMENTS

Segmentation Logic
Segment	Condition
Champions	R 4, F 4, M 4
Loyal	R 3, F 3
Potential Loyalists	R 4, F 2
At Risk	R 2, F 3
Lost	Others

In [49]:
rfm_final = pd.read_sql("""
SELECT *,
    CASE
        WHEN r_score >= 4 AND f_score >= 4 AND m_score >= 4 THEN 'Champions'
        WHEN r_score >= 3 AND f_score >= 3 THEN 'Loyal'
        WHEN r_score >= 4 AND f_score <= 2 THEN 'Potential Loyalists'
        WHEN r_score <= 2 AND f_score >= 3 THEN 'At Risk'
        ELSE 'Lost'
    END AS customer_segment
FROM (
    SELECT *,
        NTILE(5) OVER (ORDER BY last_order_date DESC) AS r_score,
        NTILE(5) OVER (ORDER BY frequency) AS f_score,
        NTILE(5) OVER (ORDER BY monetary) AS m_score
    FROM (
        SELECT
            c.customer_unique_id,
            MAX(o.order_delivered_customer_date) AS last_order_date,
            COUNT(DISTINCT o.order_id) AS frequency,
            SUM(p.payment_value) AS monetary
        FROM olist_orders_dataset o
        JOIN olist_customers_dataset c
            ON o.customer_id = c.customer_id
        JOIN olist_payments_dataset p
            ON o.order_id = p.order_id
        WHERE o.order_status = 'delivered'
        GROUP BY c.customer_unique_id
    ) base
) scores
""", conn)

rfm_final.head()

,customer_unique_id,last_order_date,frequency,monetary,r_score,f_score,m_score,customer_segment
0,fc0bcca3d8d90a812b707bb8e45069d6,2018-10-17 13:22:46,1,44.63,1,1,1,Lost
1,232422c2db1f7c69daf3b0f0421ebb43,2018-10-11 16:41:14,1,201.96,1,4,4,At Risk
2,4bc530761c1b59d33d7c6cb640d3ee78,2018-10-02 00:18:50,1,101.36,1,3,3,At Risk
3,3ae68a873484afec224de126a94c5974,2018-09-27 02:24:33,1,265.94,1,5,5,At Risk
4,c9f2b70eaddf459267a9de373aaf743b,2018-09-25 00:47:25,1,65.35,1,2,2,Lost

In [50]:
rfm_final['customer_segment'].value_counts()

customer_segment
At Risk                23097
Lost                   21844
Loyal                  18728
Potential Loyalists    15500
Champions              14188
Name: count, dtype: int64

TASK 2: REVENUE LEAKAGE DETECTION

Objective

Check if order payment  order item value
Flag orders where difference > 2%

STEP 1: Calculate EXPECTED ORDER VALUE

In [51]:
expected_value = pd.read_sql("""
SELECT
    order_id,
    SUM(price + freight_value) AS expected_value
FROM olist_order_items_dataset
GROUP BY order_id
""", conn)

expected_value.head()

                           order_id  expected_value
0  00010242fe8c5a6d1ba2dd792cb16214           72.19
1  00018f77f2f0320c557190d7a144bdd3          259.83
2  000229ec398224ef6ca0657da4fc703e          216.87
3  00024acbcdf0a6daa1e931b038114c75           25.78
4  00042b26cf59d7ce69dfabb4e55b4fd9          218.04

STEP 2: Calculate PAID ORDER VALUE

In [52]:
paid_value = pd.read_sql("""
SELECT
    order_id,
    SUM(payment_value) AS paid_value
FROM olist_payments_dataset
GROUP BY order_id
""", conn)

paid_value.head()

                           order_id  paid_value
0  00010242fe8c5a6d1ba2dd792cb16214       72.19
1  00018f77f2f0320c557190d7a144bdd3      259.83
2  000229ec398224ef6ca0657da4fc703e      216.87
3  00024acbcdf0a6daa1e931b038114c75       25.78
4  00042b26cf59d7ce69dfabb4e55b4fd9      218.04

STEP 3: Compare & FLAG MISMATCHES

Business Rule

Flag if difference > 2%

In [53]:
revenue_leakage = pd.read_sql("""
SELECT
    e.order_id,
    e.expected_value,
    p.paid_value,
    ROUND((p.paid_value - e.expected_value) / e.expected_value, 4) AS diff_pct
FROM (
    SELECT order_id, SUM(price + freight_value) AS expected_value
    FROM olist_order_items_dataset
    GROUP BY order_id
) e
JOIN (
    SELECT order_id, SUM(payment_value) AS paid_value
    FROM olist_payments_dataset
    GROUP BY order_id
) p
ON e.order_id = p.order_id
WHERE ABS((p.paid_value - e.expected_value) / e.expected_value) > 0.02
""", conn)

revenue_leakage.head()

                           order_id  expected_value  paid_value  diff_pct
0  00789ce015e7e5791c7914f32bb4fad4          168.83      190.81    0.1302
1  016726239765c18f66826453f39c64e3          235.13      265.77    0.1303
2  01e51b7c3025655646143d09b911e1d7           33.10       35.02    0.0580
3  028aa7c930356788f861ed1b7f984819           57.53       62.94    0.0940
4  02f4dd90ba0feb8ec394cac05862d2b5          130.96      141.65    0.0816

STEP 4: VALIDATION

In [54]:
revenue_leakage.shape

(252, 4)

In [55]:
revenue_leakage.describe()

       expected_value   paid_value    diff_pct
count      252.000000   252.000000  252.000000
mean       110.335952   121.712063    0.093678
std        120.277808   135.806689    0.075484
min         17.380000    16.380000   -0.290400
25%         49.190000    53.402500    0.057975
50%         73.185000    80.855000    0.104150
75%        124.090000   139.992500    0.130300
max       1403.660000  1586.470000    0.413400

TASK 3: FUNNEL CONVERSION ANALYSIS

STEP 1: CREATE FUNNEL COUNTS

In [56]:
funnel_counts = pd.read_sql("""
WITH base AS (
    SELECT
        o.order_id,
        o.order_status,
        r.review_id
    FROM olist_orders_dataset o
    LEFT JOIN olist_order_reviews_dataset r
        ON o.order_id = r.order_id
)

SELECT 'Orders Placed' AS stage, COUNT(DISTINCT order_id) AS count, 1 AS step FROM base
UNION ALL
SELECT 'Orders Paid', COUNT(DISTINCT order_id), 2
FROM base WHERE order_status IN ('paid','shipped','delivered')
UNION ALL
SELECT 'Orders Shipped', COUNT(DISTINCT order_id), 3
FROM base WHERE order_status IN ('shipped','delivered')
UNION ALL
SELECT 'Orders Delivered', COUNT(DISTINCT order_id), 4
FROM base WHERE order_status = 'delivered'
UNION ALL
SELECT 'Orders Reviewed', COUNT(DISTINCT order_id), 5
FROM base WHERE review_id IS NOT NULL
ORDER BY step
""", conn)

funnel_counts

              stage  count  step
0     Orders Placed  99441     1
1       Orders Paid  97585     2
2    Orders Shipped  97585     3
3  Orders Delivered  96478     4
4   Orders Reviewed  98673     5

STEP 2: ADD CONVERSION & DROP-OFF %

In [57]:
funnel_analysis = pd.read_sql("""
WITH funnel AS (
    SELECT 'Orders Placed' AS stage, COUNT(DISTINCT order_id) AS cnt, 1 AS step
    FROM olist_orders_dataset
    UNION ALL
    SELECT 'Orders Paid', COUNT(DISTINCT order_id), 2
    FROM olist_orders_dataset
    WHERE order_status IN ('paid','shipped','delivered')
    UNION ALL
    SELECT 'Orders Shipped', COUNT(DISTINCT order_id), 3
    FROM olist_orders_dataset
    WHERE order_status IN ('shipped','delivered')
    UNION ALL
    SELECT 'Orders Delivered', COUNT(DISTINCT order_id), 4
    FROM olist_orders_dataset
    WHERE order_status = 'delivered'
    UNION ALL
    SELECT 'Orders Reviewed', COUNT(DISTINCT r.order_id), 5
    FROM olist_order_reviews_dataset r
)

SELECT
    stage,
    cnt AS orders,
    ROUND(100.0 * cnt / LAG(cnt) OVER (ORDER BY step), 2) AS conversion_pct,
    ROUND(100 - (100.0 * cnt / LAG(cnt) OVER (ORDER BY step)), 2) AS dropoff_pct
FROM funnel
ORDER BY step
""", conn)

funnel_analysis

              stage  orders  conversion_pct  dropoff_pct
0     Orders Placed   99441             NaN          NaN
1       Orders Paid   97585           98.13         1.87
2    Orders Shipped   97585          100.00         0.00
3  Orders Delivered   96478           98.87         1.13
4   Orders Reviewed   98673          102.28        -2.28

TASK 4: COHORT RETENTION ANALYSIS

Objective

Understand how long customers keep coming back after their first purchase.

STEP 1: Find EACH CUSTOMERS FIRST PURCHASE MONTH

Logic

Only delivered orders

First delivered order = cohort start

In [58]:
first_purchase = pd.read_sql("""
SELECT
    c.customer_unique_id,
    MIN(o.order_purchase_timestamp) AS first_purchase_date,
    STRFTIME('%Y-%m', MIN(o.order_purchase_timestamp)) AS cohort_month
FROM olist_orders_dataset o
JOIN olist_customers_dataset c
    ON o.customer_id = c.customer_id
WHERE o.order_status = 'delivered'
GROUP BY c.customer_unique_id
""", conn)

first_purchase.head()

                 customer_unique_id  first_purchase_date cohort_month
0  0000366f3b9a7992bf8c76cfdf3221e2  2018-05-10 10:56:27      2018-05
1  0000b849f77a49e4a4ce2b2a4ca5be3f  2018-05-07 11:11:27      2018-05
2  0000f46a3911fa3c0805444483337064  2017-03-10 21:05:03      2017-03
3  0000f6ccb0745a6a4b88665a16c9f078  2017-10-12 20:29:41      2017-10
4  0004aac84e0df4da2b147fca70cf8255  2017-11-14 19:45:42      2017-11

STEP 2: Attach ALL ORDERS TO COHORTS

In [59]:
cohort_orders = pd.read_sql("""
SELECT
    c.customer_unique_id,
    STRFTIME('%Y-%m', o.order_purchase_timestamp) AS order_month,
    f.cohort_month,
    (
        (CAST(SUBSTR(STRFTIME('%Y-%m', o.order_purchase_timestamp),1,4) AS INT) -
         CAST(SUBSTR(f.cohort_month,1,4) AS INT)) * 12 +
        (CAST(SUBSTR(STRFTIME('%m', o.order_purchase_timestamp),1,2) AS INT) -
         CAST(SUBSTR(f.cohort_month,6,2) AS INT))
    ) AS month_number
FROM olist_orders_dataset o
JOIN olist_customers_dataset c
    ON o.customer_id = c.customer_id
JOIN (
    SELECT
        c.customer_unique_id,
        STRFTIME('%Y-%m', MIN(o.order_purchase_timestamp)) AS cohort_month
    FROM olist_orders_dataset o
    JOIN olist_customers_dataset c
        ON o.customer_id = c.customer_id
    WHERE o.order_status = 'delivered'
    GROUP BY c.customer_unique_id
) f
ON c.customer_unique_id = f.customer_unique_id
WHERE o.order_status = 'delivered'
""", conn)

cohort_orders.head()

                 customer_unique_id order_month cohort_month  month_number
0  7c396fd4830fd04220f754e42b4e5bff     2017-10      2017-09             1
1  af07308b275d755c9edb36a90c618231     2018-07      2018-07             0
2  3a653a41f6f9fc3d2a113cf8398680e8     2018-08      2018-08             0
3  7c142cf63193a1473d2e66489a9ae977     2017-11      2017-11             0
4  72632f0f9dd73dfee390c9b22eb56dd6     2018-02      2018-02             0

STEP 3: BUILD RETENTION TABLE (MONTH 06)

In [60]:
cohort_retention = pd.read_sql("""
SELECT
    cohort_month,
    month_number,
    COUNT(DISTINCT customer_unique_id) AS customers
FROM (
    SELECT
        c.customer_unique_id,
        STRFTIME('%Y-%m', o.order_purchase_timestamp) AS order_month,
        STRFTIME('%Y-%m', MIN(o.order_purchase_timestamp)
            OVER (PARTITION BY c.customer_unique_id)) AS cohort_month,
        (
            (CAST(STRFTIME('%Y', o.order_purchase_timestamp) AS INT) -
             CAST(STRFTIME('%Y', MIN(o.order_purchase_timestamp)
                 OVER (PARTITION BY c.customer_unique_id)) AS INT)) * 12 +
            (CAST(STRFTIME('%m', o.order_purchase_timestamp) AS INT) -
             CAST(STRFTIME('%m', MIN(o.order_purchase_timestamp)
                 OVER (PARTITION BY c.customer_unique_id)) AS INT))
        ) AS month_number
    FROM olist_orders_dataset o
    JOIN olist_customers_dataset c
        ON o.customer_id = c.customer_id
    WHERE o.order_status = 'delivered'
)
WHERE month_number BETWEEN 0 AND 6
GROUP BY cohort_month, month_number
ORDER BY cohort_month, month_number
""", conn)

cohort_retention

    cohort_month  month_number  customers
0        2016-09             0          1
1        2016-10             0        262
2        2016-10             6          1
3        2016-12             0          1
4        2016-12             1          1
..           ...           ...        ...
119      2018-06             1         25
120      2018-06             2         16
121      2018-07             0       5949
122      2018-07             1         31
123      2018-08             0       6144

[124 rows x 3 columns]

TASK 5: SELLER PROFITABILITY RANKING

Objective

Identify sellers with high revenue but low profit.

Definitions (VERY IMPORTANT)

Revenue = SUM(price)

Profit = SUM(price  freight_value)

Profit Margin = profit / revenue

STEP 1: CALCULATE SELLER REVENUE & PROFIT

In [61]:
seller_perf = pd.read_sql("""
SELECT
    seller_id,
    SUM(price) AS revenue,
    SUM(price - freight_value) AS profit
FROM olist_order_items_dataset
GROUP BY seller_id
""", conn)

seller_perf.head()

                          seller_id   revenue    profit
0  0015a82c2db000af6aaaf3ae2ecb0532   2685.00   2621.94
1  001cca7ae9ae17fb1caed9dfb1094831  25080.03  16225.89
2  001e6ad469a905060d959994f1b41e4f    250.00    232.06
3  002100f778ceb8431b7a1020ff7ab48f   1234.50    440.84
4  003554e2dce176b5555353e4f3555ac8    120.00    100.62

In [62]:
seller_perf.shape

(3095, 3)

In [63]:
seller_perf.describe()

             revenue         profit
count    3095.000000    3095.000000
mean     4391.484233    3663.888258
std     13921.997192   12039.896846
min         3.500000    -559.760000
25%       208.850000     149.100000
50%       821.480000     641.170000
75%      3280.830000    2609.615000
max    229472.630000  209695.420000

STEP 3: ADD PROFIT MARGIN & RANKING

In [64]:
seller_ranking = pd.read_sql("""
SELECT
    seller_id,
    revenue,
    profit,
    ROUND(profit * 1.0 / revenue, 4) AS profit_margin,
    RANK() OVER (ORDER BY revenue DESC) AS revenue_rank,
    RANK() OVER (ORDER BY profit * 1.0 / revenue ASC) AS low_margin_rank
FROM (
    SELECT
        seller_id,
        SUM(price) AS revenue,
        SUM(price - freight_value) AS profit
    FROM olist_order_items_dataset
    GROUP BY seller_id
)
""", conn)

seller_ranking.head()

,seller_id,revenue,profit,profit_margin,revenue_rank,low_margin_rank
0,4869f7a5dfa277a7dca6462dcf3b52b2,229472.63,209304.56,0.9121,1,2684
1,53243585a1d6dc2643021fd1853d8905,222776.05,209695.42,0.9413,2,2884
2,4a3ca9315b744ce9f8e9374361493884,200472.92,165405.88,0.8251,3,1820
3,fa1c13f2614d7b5c4749cbc52fecda94,194042.03,183999.33,0.9482,4,2946
4,7c67e1448b00f6e969d365cea6b010ab,187923.89,136311.34,0.7254,5,1064

STEP 4: FIND HIGH-REVENUE, LOW-PROFIT SELLERS

In [65]:
risk_sellers = seller_ranking[
    (seller_ranking['revenue_rank'] <= 100) &
    (seller_ranking['profit_margin'] < 0.05)
]

risk_sellers.head()

Empty DataFrame
Columns: [seller_id, revenue, profit, profit_margin, revenue_rank, low_margin_rank]
Index: []

In [66]:
# Example: export DataFrame to Excel
seller_ranking.to_excel('seller_ranking.xlsx', index=False)